@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(23.55deg, #080d0d 75.24%, #173b4d 97.12%);
  color: #fff;
}

input {
  color: #fff;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .container {
    width: 500px;
  }
}
